<div class="fullscreen">
  <div class="row">
    <div class="col-md-6 my-work" id="left">
      <div class="text">
        <p>Description to be added soon.</p>
      </div>
    </div>
    <div class="col-md-6 my-work">
      <div class="skill-category">
        <h4>Languages</h4>
        <div class="skills">
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-java fa-lg"></i>
              <div>Java</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-windows fa-lg"></i>
              <div>C#</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-js-square fa-lg"></i>
              <div>Typescript</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-python fa-lg"></i>
              <div>Python</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-js fa-lg"></i>
              <div>Javascript</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-swift fa-lg"></i>
              <div>Swift</div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <h4>Platforms</h4>
        <div class="skills">
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-code fa-lg"></i>
              <div>Web</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-app-store-ios fa-lg"></i>
              <div>iOS</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-android fa-lg"></i>
              <div>Android</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-windows fa-lg"></i>
              <div>Windows</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-terminal fa-lg"></i>
              <div>CLI</div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <h4>Frameworks</h4>
        <div class="skills">
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-angular fa-lg"></i>
              <div>Angular</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-mobile-alt fa-lg"></i>
              <div>Cordova</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-drafting-compass fa-lg"></i>
              <div>Ionic</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-bootstrap fa-lg"></i>
              <div>Bootstrap</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-windows fa-lg"></i>
              <div>.NET Core</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-java fa-lg"></i>
              <div>Java Spring</div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <h4>Libraries &amp; Others</h4>
        <div class="skills">
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-chart-pie fa-lg"></i>
              <div>D3.js</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-file-pdf fa-lg"></i>
              <div>iText</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-table fa-lg"></i>
              <div>ZK</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-git fa-lg"></i>
              <div>Git</div>
            </div>
          </div>
        </div>
      </div>
      <div class="skill-category">
        <h4>Interests</h4>
        <div class="skills">
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-rocket fa-lg"></i>
              <div>Astronomy</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-mobile-alt fa-lg"></i>
              <div>Mobile Dev</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fab fa-chromecast fa-lg"></i>
              <div>Streaming Dev</div>
            </div>
          </div>
          <div class="badge-flex">
            <div class="icon-badge">
              <i class="fas fa-code fa-lg"></i>
              <div>Webdev</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>