@import './../../styles.scss';
.fullscreen {
  background: $secondary;
  padding: 75px ;
}

.row {
  background: $secondary-light;
}

.my-work{

  padding: 8px;
}
#left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-category{
  margin-bottom: 16px;
  margin-left: 4px;
}
.skills {
  margin-bottom: 16px;
}
.progress-bar {
  background: $primary-light;
}

.row > .col-md-6 {
  border: solid 1px $white-trans-light;
}
p, h4{
  opacity: 0.75;
  color: white;
}
.badge-flex{
  display: inline-flex;
  flex-wrap: nowrap;
  background-color: #30415D;
  padding: 8px 16px;
  margin-right: 8px;
  margin-top: 4px;
  color: white;
  font-size: 75%;
  font-weight: 700;
  border-radius: 10rem;
  .icon-badge{
    display: flex;
    align-items: center;

    i{
      margin-right: 8px;
      color: $secondary;
    }
  }
}