.fullscreen {
  background: #CF6766;
  padding: 60px 10% 60px 10%;
}

.row {
  background: #D16F6E;
}

#left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  margin-top: 15px;
  margin-bottom: 15px;
}
.progress-bar {
  background: #30415D;
}
h6 {
  color: white;
}
.row > .col-md-6 {
  border: solid 1px rgba(255, 255, 255, 0.15);
}
p {
  color: #EABEBE;
}
