<div class="fullscreen">
  <div class="row">
    <div class="col-md-6" id="left">
      <div class="text">
        <p>Description to be added soon.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="skill-category">
        <h4>Languages</h4>
        <div class="skills">
          <span class="badge badge-pill badge-primary">Java</span>
          <span class="badge badge-pill badge-primary">C#</span>
          <span class="badge badge-pill badge-primary">Typescript</span>
          <span class="badge badge-pill badge-primary">Python</span>
          <span class="badge badge-pill badge-primary">Javascript</span>
          <span class="badge badge-pill badge-primary">Swift</span>
        </div>
      </div>
      <div class="skill-category">
        <h4>Platforms</h4>
        <div class="skills">
          <span class="badge badge-pill badge-primary">Web</span>
          <span class="badge badge-pill badge-primary">iOS</span>
          <span class="badge badge-pill badge-primary">Android</span>
          <span class="badge badge-pill badge-primary">CLI</span>
        </div>
      </div>
      <div class="skill-category">
        <h4>Frameworks</h4>
        <div class="skills">
          <span class="badge badge-pill badge-primary">Angular</span>
          <span class="badge badge-pill badge-primary">Cordova</span>
          <span class="badge badge-pill badge-primary">Ionic</span>
          <span class="badge badge-pill badge-primary">Bootstrap</span>
          <span class="badge badge-pill badge-primary">.NET</span>
          <span class="badge badge-pill badge-primary">.NET Core</span>
          <span class="badge badge-pill badge-primary">Java Spring</span>
        </div>
      </div>
      <div class="skill-category">
          <h4>Libraries &amp; Others</h4>
          <div class="skills">
            <span class="badge badge-pill badge-primary">D3.js</span>
            <span class="badge badge-pill badge-primary">iText</span>
            <span class="badge badge-pill badge-primary">ZK</span>
            <span class="badge badge-pill badge-primary">Git</span>
            <span class="badge badge-pill badge-primary">Java Spring</span>
          </div>
        </div>
      <!--
    <div class="skill">
      <h6>Java</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 99%"></div>
      </div>
      </div>
    <div class="skill">
      <h6>Ionic Framework</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 99%"></div>
      </div>
    </div>
    <div class="skill">
    <h6>TypeScript</h6>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 99%"></div>
    </div>
  </div>
    <div class="skill">
      <h6>HTML</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 99%"></div>
      </div>
    </div>
    <div class="skill">
      <h6>Android SDK</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 95%"></div>
      </div>
    </div>
    <div class="skill">
      <h6>Angular</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 95%"></div>
      </div>
    </div>
    <div class="skill">
      <h6>JavaScript</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 92%"></div>
      </div>
    </div>
    <div class="skill">
      <h6>SQL</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%"></div>
      </div>
    </div>
    <div class="skill">
      <h6>Agile/Scrm</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%"></div>
      </div>
    </div>
    <div class="skill">
      <h6>Git</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%"></div>
      </div>
    </div>
    <div class="skill">
      <h6>Python</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 87%"></div>
      </div>
    </div>
    <div class="skill">
      <h6>UML</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 85%"></div>
      </div>
    </div>
    <div class="skill">
      <h6>Spring</h6>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 83%"></div>
      </div>
    </div>
  </div>
-->
    </div>
  </div>