@import './../../styles.scss';
.fullscreen {
  background: $secondary;
  padding: 75px ;
}

.row {
  background: $secondary-light;
}

#left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  margin-top: 15px;
  margin-bottom: 15px;
}
.progress-bar {
  background: $primary-light;
}

.row > .col-md-6 {
  border: solid 1px $white-trans-light;
}
p {
  color: #EABEBE;
}
