@import './../../styles.scss';
.image{
  padding: 0;
  background: white;
  min-height: 200px;
}

#nokia {
  background: #124191;
}
#all-projects{
  background: #E2E0E1;
}
.image > .image-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;


}
.row {
  width: 100%;
  margin-left: 0px;
}

.image > .image-container > img {
  max-width: 100%;
  max-height: 100%;
}
.info {
  padding: 50px 16px 40px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#first {
  background: $blue-panel-1;
}
#second {
  background: $blue-panel-2;
}
#third {
  background: $blue-panel-3;
}
#fourth {
  background: $blue-panel-4;
}
.info > .content {
  width: 90%;
  max-height: 100%;
  margin: auto;
  max-width: 1000px;
}

.info > .content> p {
  margin-top: 25px;
  font-size: 18px;
}

@media screen and (min-width: 1680px) {

  .info > .content > h2 {
    font-size: 36px;
  }
  .info > .content> p {
    font-size: 20px;
  }
}

