<div class="fullscreen">
<div class="row">
  <div class="col-lg-4 image" id="nokia">
    <div class="image-container"><img src="./assets/images/nokia_white_logo.png" alt="" data-position="center center" /></div>
  </div>
  <div class="col-lg-8 info" id="first">
    <div class="content">
      <h2>Nokia</h2>
      <p>Description to be added soon.<br/><br/><br/><br/></p>
      <button type="button" class="btn btn-outline-light">Learn More</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 image">
    <div class="image-container"><img src="./assets/images/OHRI.png" alt="" data-position="center center" /></div>
  </div>
  <div class="col-lg-8 info" id="second">
    <div class="content">
      <h2>OHRI Mobile Developer</h2>
      <p>As part of my first-year COOP at the University of Ottawa, I worked at the Ottawa Hospital Research Insitute. There I worked on several apps developed for Android to help measure their patient's mobility. I returned to OHRI in the Fall of 2017 on a research scholarship to work on porting the applications to iOS.</p>
      <button type="button" class="btn btn-outline-light">Learn More</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 image">
    <div class="image-container"><img src="./assets/images/mobile-app-solutions.png" alt="" data-position="center center" /></div>
  </div>
  <div class="col-lg-8 info" id="third">
    <div class="content">
      <h2>Mobile App Solutions</h2>
      <p>My friend and I started a business during the summer of 2016. Our idea was to pitch to organizations and small businesses in our community to see if their service would benefit from a mobile app. We received a grant and scholarship from the Summer Company Program offered by the Government of Ontario to help with startup costs and provide funding for our schooling. We worked with a few clients that summer and greatly increased our technical and business skills.</p>
      <button type="button" class="btn btn-outline-light">Learn More</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 image" id="all-projects">
    <div class="image-container"><img src="./assets/images/pexels-photo-48606.jpeg" alt="" data-position="center center" /></div>
  </div>
  <div class="col-lg-8 info" id="fourth">
    <div class="content">
      <h2>Other Projects</h2>
      <p>I have plenty of other past and current projects. Feel free to check them out.</p>
      <button type="button" class="btn btn-outline-light">See All Projects</button>
    </div>
  </div>
</div>
</div>
