@import 'styles.scss';
.my-work{
  background: map-get($colors, "blue-panel-1");  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, map-get($colors, "blue-panel-1"), map-get($colors, "blue-panel-4"));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, map-get($colors, "blue-panel-1"), map-get($colors, "blue-panel-4")); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.image{
  padding: 0;
  background: white;
  min-height: 200px;
}

#Nokia {
  background: #124191;
}
#Apption{
  padding: 32px;
}
#all-projects{
  background: #EAE8E9;

  .image-container {

    display: flex;
    max-height: 500px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{

      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%
    }
  }
}
.image > .image-container {
  width: 100%;
  height: 100%;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.row {
  width: 100%;
  margin-left: 0px;
}

.image > .image-container > img {
  max-width: 100%;
  max-height: 100%;
}
.info {
  padding: 50px 16px 40px 16px;
  display: flex;
  align-items: center;
}
.info > .content {
  width: 90%;
  max-height: 100%;
  margin-left: 4rem;
  max-width: 1000px;
}

.info > .content> p {
  margin-top: 25px;
  font-size: 18px;
}

@media screen and (min-width: 1680px) {

  .info > .content > h2 {
    font-size: 36px;
  }
  .info > .content> p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1776px){
  .info {
    justify-content: center;
  }
  .info > .content {
    margin: auto;
  }
  
}

