<div class="fullscreen my-work">
  
  <div class="row" *ngFor='let project of projectsArray'>
    <div class="col-lg-4 image" id={{project.name}}>
      <div class="image-container"><img src={{project.image}} alt=""
          data-position="center center" /></div>
    </div>
    <div class="col-lg-8 info">
      <div class="content">
        <h2>{{project.name}}</h2>
        <p>
          {{project.shortDescription}}
        </p>
        <!-- <button type="button" class="btn btn-outline-light">Learn More</button> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 image" id="all-projects">
      <div class="image-container"><img src="./assets/images/pexels-photo-48606.jpeg" alt=""
          data-position="center center" /></div>
    </div>
    <div class="col-lg-8 info">
      <div class="content">
        <h2>Other Projects</h2>
        <p>I have plenty of other past and current projects. Some of them are available on Github.</p>
        <button type="button" class="btn btn-outline-light" onclick="
        window.open('https:/github.com/nicksalt', '_blank').focus()">See All Projects</button>
      </div>
    </div>
  </div>
</div>