//@use "sass:map";
@import 'styles.scss';
.fullscreen {
  background: #30415D;
}


.fullscreen {
  padding: 75px;
}
.text {
  margin-bottom: 40px;
}
.text > h2{
  margin-bottom: 20px;
}
#fullscreen-row {
  width: 100%;
  margin-left: 0;
}


.form {
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  padding-left: 0;
  padding-bottom: 40px;
}
.mat-form-field{
  width: 100%;
}

textarea {
  min-height: 100px;
}

.example-full-width {
  width: 100%;
}
h5 {
  color: white;
}
h6 {
  color: map-get($colors, "white-trans-dark");
}

.no-underline {
  border-bottom: 0;
  margin-right: 15px;
}

.icon{
  width: 50px;
  justify-content: center;
  display: flex;

  i {
    color: white;
    display: inline;
    text-align: right;
  }

}
.info {
  .row {
    margin-top: 15px;
    margin-bottom: 25px;

    .col-auto {
      max-width: 100%;
    }
  }
}

.flex-row{
  display: flex;
  align-items: top;

  .flex-col {
    margin-right: 16px;
  }
}

@media screen and (max-width: 991px) {
  .form {
    border-right: 0;
    border-bottom: 1px solid map-get($colors, "white-trans-light");
    padding-left: 0;
  }
  .info {
    margin-top: 40px;
  }
}
