<div class="fullscreen">
  <div class="intro">
    <div class="inner">
      <div class="logo">
        <img src="./assets/images/logo/logo-small-transparent.png" />
      </div>
      <h1><span class="typed"></span></h1>
      <ul class="icons">
        <li>&ndash;</li>
        <li><a target="_blank" href="https://github.com/nicksalt"><i class="fa-github fa-lg fab"></i></a></li>
        <li><a target="_blank" href="https://ca.linkedin.com/in/nick-salt"><i class="fa-linkedin fa-lg fab"></i></a>
        </li>
        <li>&ndash;</li>
      </ul>
    </div>
    <div class="arrow">
      <span></span>
      <span></span>
      <span></span>

    </div>
  </div>
</div>